# Virtual environment
myenv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.log
db.sqlite3
staticfiles/
media/

# Environment variables
.env
*.env

# IDE
.vscode/
.idea/
*.DS_Store

# Distribution
dist/
build/
*.egg-info/
